[submodule "arsenal_pyclient"]
	path = arsenal_pyclient
	url = ssh://git@git.stratux.us:62315/redteam/Arsenal/arsenal_pyclient.git
[submodule "client"]
	path = client
	url = https://github.com/kcarretto/arsenal-api-python-client
